.body-start, .registration{
    background-color: rgb(105, 196, 117);
    background-image: url(pictures/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.body-start__header, .about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body-start-page__logo{
    text-align: center;
}
.body-start-page__logo__image{
    width: 50%;
    transition: 2s linear;
}
.body-start-page__logo__image:hover{
    transform: rotate(-10deg);
    width: 45%;
}
.body-start__header__title{
    font-size: 54px;
    transition: all 2s ease;
    animation: jump 1s linear infinite;
}
.body-start__header__made-by{
    margin-bottom: 1%;
    margin-top: 1%;
}
.body-start__form__button, .body-start__reg__button, .registration__back__button, .fields__button{
    background-color: orange;
    color: black;
    font-size: 24px;
}
.fields{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fields__item{
    font-size: 24px;
}
.fields__item_url{
    color: white;
}
.about__text__item{
    text-indent: 2%;
    text-align: center;
}
.about__text__item::selection{
    color: orange;
    background-color: black;
}
.about__picture{
    margin-top: 5%;
    width: 80%;
    border: orange 3px solid;
}

@keyframes jump {
    from {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(5px);
    }
}
